{% load static %}
<h3> Hi {{property.buyer_firstname}}</h3>
	<p>CONGRATULATIONS on the acceptance of your contract at {{property.address}}!
<strong>First thing first</strong> ~We need to wire escrow money or drop the check off to {{property.titlecompany}} on or before {{escrow_date}}, in the amount of {{property.escrow_amount}}.  On the memo section of the check please write "EMD for {{property.address}}". Escrow money will go towards your closing costs.  Escrow money is refundable during our inspection period. <strong style="color: red;">ALSO VERY IMPORTANT Wire Fraud is very real.  So if you ever wire money to title, always call Title </strong> <strong style="color: blue;"> to confirm exact routing and account numbers for the wire. Title will never change these numbers.  Call and verify every time you wire.</strong> 
</p>
<br>
<figure><img src="{{property.screenshot.url}}" width="100%"></figure>
<br>
<p>
<strong style="color: blue;">Title</strong>, please see the executed contract.  Please reach out to {{property.buyer_firstname}} directly for any questions you might have at {{property.phone_number}}
<strong style="color: blue;">Harbor Insurance</strong>, please send us a homeowner policy quote for a primary residence and keep costs as low as possible.  
<strong style="color: blue;">Inspection Team</strong>, please share pricing for a home inspection, wind mit "if there are credits available", and 4PT.
</p>
<br>
<p>
	<strong style="font-size: 14px;">Chain of Events:</strong><br>

<strong>Documents-</strong> <br>
We will need you to sign some documents throughout the process. I will be sending you emails requesting your signatures through our document management system. If you have any questions regarding this system please don't hesitate to ask. You will be signing the forms digitally and once you save the form it will automatically notify us.  <br>

<strong>Inspection Period-</strong><br>
We have an inspection period that expires on {{property.inspection_date}}. We are currently in the process of setting this up. This is an exciting time, so some of our buyers often choose to attend the inspection. This will give you a chance to preview the home again and review the findings with the inspector. The typical timeframe for an inspection is 2 1/2 to 3 hours. Feel free to come by towards the end if you’d prefer, in order to review and discuss findings, or of course you can have us video with you towards the end if you can not attend. <br>

{% if property.loan_time == 0 %}
<strong>Utilities-</strong><br>
Please contact all utility companies and ask them to transfer the service out into your name on the day of closing.<br>
This is also a good time to notify the post office of your change of address as well. 

<strong>Walk-thru</strong><br>
We will conduct a final walk-thru before closing. Our walk-through is typically the day before or the day of closing. <br>

<strong>Closing-</strong><br>
Your closing will be at the title company referenced above. You will receive an email from us prior to this date confirming all the pertinent information. <br>

<strong style="background: yellow;">***Please let us know if you prefer to close in person or if you will be requiring a Mobile Closer or Mail Away.***</strong> 

<strong>An exact time is typically scheduled 3-5 days before closing. It takes about an hour to complete so please plan ahead for time off work.</strong><br>

Thank you!
<strong>Please be sure to <i>"reply all."</i></strong>
<figure><img src="{% static 'img/banner.png' %}" width="350px"></figure>
{% else %}
<strong>Appraisal</strong>:<br>
An appraisal of the property will be completed while the loan is in underwriting. Once the appraisal report is ready, your lender will review for value and any possible “conditions” to be cleared. We will work on this together, so no worries!<br>

<strong>Utilities-</strong><br>
Please contact all utility companies and ask them to transfer the service out into your name on the day of closing.
This is also a good time to notify the post office of your change of address as well. 
<br>
<strong>Walk-thru</strong><br>
We will conduct a final walk-thru before closing. Our walk-through is typically the day before or the day of closing. 
<br>
<strong>Closing-</strong><br>
Your closing will be at the title company referenced above. You will receive an email from us prior to this date confirming all the pertinent information. <br>

<strong style="background: yellow;">***Please let us know if you prefer to close in person or if you will be requiring a Mobile Closer or Mail Away.***</strong> 

<strong>An exact time is typically scheduled 3-5 days before closing. It takes about an hour to complete so please plan ahead for time off work.</strong><br>

Thank you!
<strong>Please be sure to <i>"reply all."</i></strong>
<figure><img src="{% static 'img/banner.png' %}" width="350px"></figure>
{% endif %}
</p>