{% extends 'base.html' %}

{% block content %}
<table style="width: 100%;border-collapse: collapse;">
	<!-- Headers -->
	<tr bgcolor="#ADD8E6">
		<th style="border: 1px solid #ccc; padding: 8px;">Agent</th>
		<th style="border: 1px solid #ccc; padding: 8px;">Phone</th>
		<th style="border: 1px solid #ccc; padding: 8px;">Email</th>
		<th style="border: 1px solid #ccc; padding: 8px;">Company</th>
	</tr>	
	<!-- Table Data -->
	{% for insurance in insurances %}
	<tr>
		<td style="border: 1px solid #ccc; padding: 8px;">{{insurance.agent}}</td>
		<td style="border: 1px solid #ccc; padding: 8px;">{{insurance.phone}}</td>
		<td style="border: 1px solid #ccc; padding: 8px;">{{insurance.email}}</td>
		<td style="border: 1px solid #ccc; padding: 8px;">{{insurance.company}}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}