{% load static %}
<!--div class="floating-menu">
  <img src="{% static 'img/logoculo.png' %}" width="8%" alt="logo culo">
  <h2>Menu</h2>
    <ul class="options-menu">
    <li>
      <a class="menu-item" href="{% url 'home' %}">Home</a>
    </li>
    <li>
      <a class="menu-item" href="{% url 'under contract' %}">UC</a>
    </li>
    <li>
      <a class="menu-item" href="{% url 'detalles' property.id %}">{{property.address}}</a>
    </li>
  </ul>
  
</div-->


<div class="navigation">
  <div class="toggle"><!--img src="{% static 'img/logoculo.png' %}" width="25%" alt="logo culo"-->
  </div>
   <ul>
     <li>
       <a href="{% url 'home' %}">
         <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
         <span class="title">Home</span>
       </a>
     </li>
          <li>
       <a href="{% url 'transacciones' %}">
         <span class="icon"><i class="fa fa-book" aria-hidden="true"></i></span>
         <span class="title">Transactions</span>
       </a>
     </li>
          <li>
       <a href="{% url 'detalles' property.id %}">
         <span class="icon"><i class="fa fa-th-list" aria-hidden="true"></i></span>
         <span class="title">Details</span>
       </a>
     </li>
     <li>
       <a href="{% url 'enviado' property.id %}">
         <span class="icon"><i class="fa-th-list" aria-hidden='true'></i></span>
         <span class="title">Send</span>
       </a>
     </li>
      <!--li>
       <a href="#">
         <span class="icon"><i class="fa fa-folder" aria-hidden="true"></i></span>
         <span class="title">Extra Info</span>
       </a>
     </li-->
   </ul> 
</div>
<!-- esto lleva codigo en JS, pero para que funcione correctamente,
  se debe colocar en un <script> en la plantilla principal, si se
    coloca aqui no se ejecuta correctamente-->